<% provide(:title, "Edit user") %>
<h1 style="color:#00EE76"> <center> Edit profile </center></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@admin) do |f| %>
        <%= render 'shared/error_messages' %>

        <center>   <%= f.label :alias %> </center>
        <center>   <%= f.text_field :alias %> </center>

        <center>   <%= f.label :age %> </center>
        <center>   <%= f.text_field :age %> </center>

        <center>   <%= f.label :email %> </center>
        <center>   <%= f.text_field :email %> </center>

        <center>   <%= f.label :password %> </center>
        <center>   <%= f.password_field :password %> </center>

        <center>   <%= f.label :password_confirmation, "Confirm Password" %> </center>
        <center>   <%= f.password_field :password_confirmation %> </center>
        <br>
        <center>   <%= f.submit "Save changes", class: "btn btn-large btn-success" %> </center>
    <% end %>


  </div>
</div>