<% provide(:title, 'Sign up') %>
<h1> <center> Sign Up For Admin</center> </h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@admin) do |f| %>
        <%= render 'shared/admin_error_messages' %>

        <center>  <%= f.label :name %> </center>
        <center>  <%= f.text_field :name %> </center>

        <center>    <%= f.label :email %> </center>
        <center>    <%= f.text_field :email %> </center>

        <center> <%= f.label :password %> </center>
        <center> <%= f.password_field :password %> </center>

          <center>      <%= f.label :password_confirmation, "Confirmation" %> </center>
            <center>     <%= f.password_field :password_confirmation %> </center>
            <br>
              <center>     <%= f.submit "Create my account", class: "btn btn-large btn-primary " %> </center>
    <% end %>
  </div>
</div>

