<% provide(:title, 'All users') %>
<h1 style="color:#FFA07A ; font-size:55px;"> <center> All users </center> </h1>

<ul class="users">
  <section>


    <%=paginate  @users%>
    <br>
    <% @users.each do |user| %>
        <% if !user.super_admin? %>
            <%#= image_tag user.avatar.url(:small) %>
            <% if user.admin?%>
                <p>
                  Admin:
                  <%= user.name %>
                </p>
                <% else %>
                <%= user.name %>
             <% end %>
            <%= user.surname %>

            <%= link_to 'Show', user,  class: "btn  btn-small btn-warning " %>
            <%= link_to 'Edit',  edit_user_path(user) ,  class: "btn btn-small btn-success" %>

            <%= link_to 'Destroy', user, method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: " btn btn-small btn-danger" %>
            <br>
            <%= user.email %>

        <% end %>
        <br>
    <%end%>

  </section>
</ul>

