<% provide(:title, 'All users') %>
<h1> <center> All users </center> </h1>

<ul class="users">
  <section>


    <%=paginate  @users%>
    <br>
    <% @users.each do |user| %>
        <% if !user.admin? %>
            <%#= image_tag user.avatar.url(:small) %>
            <%= user.name %>
            <%= user.surname %>

            <%= link_to 'Show', user,  class: "btn btn-mini btn-warning" %>
            <%= link_to 'Edit',  edit_user_path(user) ,  class: "btn btn-mini btn-success" %>

            <%= link_to 'Destroy', user, method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: " btn btn-mini btn-danger" %>
            <br>
            <%= user.email %>

        <% end %>
        <br>
    <%end%>


    <p class="pull-right"><a href="#">Back to top</a></p>
  </section>
</ul>

