<% provide(:title, 'All users') %>
<h1> <center> All users </center> </h1>

<ul class="users">
  <section>
    <%=paginate  @users%>
    <br>
    <% @users.each do |user| %>
        <% if !user.admin? %>
            <%= image_tag user.avatar.url(:large) %>
            <%= user.name %>
            <%= user.surname %>
            <br>
            <%= link_to 'Show', user,  class: "btn btn-warning" %>
            <%#= link_to h(user.name), :action => 'show', :id => user%>
            <%= link_to 'Destroy', user, method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: " btn btn-danger" %>

        <br>
        <% end %>
        <br>
    <%end%>

        <%#= will_paginate @users %>
    <p class="pull-right"><a href="#">Back to top</a></p>
  </section>
</ul>

